<div class="card-body">
    <div class="row">
        <div class="col-5">
            <h6 class="mb-0">Full Name</h6>
        </div>
        <div class="col-7 text-secondary"> {{yuvak.name}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5">
            <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-7 text-secondary"> {{yuvak.email}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5">
            <h6 class="mb-0">MobileNo</h6>
        </div>
        <div class="col-7 text-secondary"> {{yuvak.mobile}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5">
            <h6 class="mb-0">Education</h6>
        </div>
        <div class="col-7 text-secondary"> {{yuvak.education}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5">
            <h6 class="mb-0">Date of Birth</h6>
        </div>
        <div class="col-7 text-secondary"> {{yuvak.dob}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5">
            <h6 class="mb-0">Address</h6>
        </div>
        <div class="col-7 text-secondary"> {{yuvak.address}}</div>
    </div>
    <hr>
</div>