<div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" [(ngModel)]="yuvak.name" class="form-control" id="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" [(ngModel)]="yuvak.email" class="form-control" id="email"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="mobileNumber" class="form-label">Mobile Number</label>
            <input type="text" name="mobile" [(ngModel)]="yuvak.mobile" class="form-control" id="mobileNumber">
        </div>
        <div class="mb-3">
            <label for="DOB" class="form-label">Date of Birth</label>
            <input type="date" name="dob" [(ngModel)]="yuvak.dob" class="form-control" id="DOB">
        </div>
        <div class="mb-3">
            <label for="edu" class="form-label">Education</label>
            <input type="text" name="education" [(ngModel)]="yuvak.education" class="form-control" id="edu">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea name="address" [(ngModel)]="yuvak.address" class="form-control" id="address"></textarea>
        </div>

        <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <div *ngIf="syRole == 'true'; else elseBlock">
                <select class="form-select" aria-label="Default select example" name="syRole" [(ngModel)]="syRole"  id="role">
                    <option value='false'>Yuvak</option>
                    <option value='true' selected>Sampark Karyakar</option>
                </select>
            </div>

            <ng-template #elseBlock>
                <select aria-label="Default select example" id="role" name="syRole" [(ngModel)]="syRole">
                    <option value='false' selected>Yuvak</option>
                    <option value='true' >Sampark Karyakar</option>
                </select>
            </ng-template>
        </div>

        <div *ngIf="syRole == 'false'">
            <label class="form-label">Sampark Karyakar</label>
            <select aria-label="Default select example">
                <option *ngFor="let s of samparkKaryakars" value="{{s.id}}">{{s.name}}</option>
            </select>
        </div>
        

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>