
<div class="container my-3">
  <input class="form-control rounded-pill text-danger" type="search" placeholder="Search" [(ngModel)]="searchText" name="searchText">
</div>

<div class="container text-orange mb-2"><u>Select Mandal &#11167;</u></div>

<div class="list-group list-group-flush">
  <div class="list-group-item d-flex justify-content-between align-items-start"  *ngFor="let mandal of mandalwithYuvakCount | filter:searchText">
    <a class="ms-2 me-auto text-decoration-none pe-5" [routerLink]="['/mandalSummary']" [queryParams] = "{mandalId:mandal.mandalId, karyakarName:karyakar.name}">
      <div class="fw-secondary fs-6 text-orange">{{mandal.name}}</div>      
    </a>
    <a class="me-2 badge bg-gray border border-secondary text-orange fs-6 px-2">{{mandal.numberYuvak}}</a>
    <a class="me-2 badge bg-gray border border-secondary text-orange fs-6 px-2" href="tel:+919408396963">S <i class="fa-solid fa-phone text-primary"></i></a>
    <a class="me-2 badge bg-gray border border-secondary text-orange fs-6 px-2" href="tel:+919408396963">N <i class="fa-solid fa-phone text-primary"></i></a>
  </div>
</div>


<!-- <div class="justify-content-between align-items-start d-flex">
    <div class="ms-2 me-auto fw-bold">
        Raj Busa
    </div>
    <div class="me-2">
        <span><input type="checkbox" class="checkBox" checked  name="" id=""></span>
    </div>
</div> -->