<div class="main">

  <div style="height: 50px;" id="alert"></div>

  <div class="container mt-3 floting-screen">
    <div class="text-center mb-3">
      <img class="mb-4 w-50 h-25" src="/assets/Logo.png" alt="" width="57" height="72">
    </div>
    <div class="form-signin w-100 m-auto">

      <h1 class="text-start text-secondary mb-4">Sign Up</h1> 

      <form class="p-2">

        <div class="mb-2">
          <label for="email" class="mb-1 fw-bold fs-3">Email address</label>
          <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="email">
        </div>
  
        <div class="mb-2">
          <label for="password" class="mb-1 fw-bold fs-3">Password</label>
          <input type="password" [(ngModel)]="user.password" name="password" class="form-control"
          id="password">
        </div>
        
        <div class="mb-4">
          <label for="password" class="mb-1 fw-bold fs-3">Confirm Password</label>
          <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control"
          id="password">
        </div>
        <div class="text-danger" *ngIf="confirmPassword != user.password">Password not match</div>


        <div>
          <button class="btn btn-secondary mt-2 fs-3" type="submit" (click)="signUp()">Sign Up</button>
        </div>
        <div class="my-2 fs-6 text-secondary">Already have an account?
          <a routerLink="/signInWithGoogle" class="text-secondary fs-5 text-danger">Log In</a>
        </div>
        <!-- <div class="fs-6 my-2">Don't have an account?</div> -->
        <!-- <button class="btn btn-sm btn-outline-primary" routerLink="/newPassword">Sign up</button> -->

        <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p> -->
      </form>
    </div>
  </div>
</div>